header {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

nav a {
    color: black;
}

.description {
    padding: 10px;
}

.description h1 {
    margin-bottom: 10px;
}

.description p {
    font-size: 18px;
    font-weight: 300;
    text-align: justify;
    margin-bottom: 10px;
}

.main-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 10px;
}

.main-content .content-item {
    height: 300px;
    width: 100%;
    margin-bottom: 2%;
    display: flex;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
}

.content-item img {
    width: 40% ;
    height: 100%;
    object-fit: cover;
}

.item-details {
    height: 100%;
    padding: 1% 1.5% 1.5% 1.5%;
    width: 60%;
    box-sizing: border-box;
}

.item-details h2 {
    margin-top: 0;
    margin-bottom: 15px;
}

.item-details p {
    text-align: justify;
    margin-bottom: 10px;
}

