header {
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.5);
}

nav a {
    color: black;
}

.main-content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 80px); /* full height minus header height */
    width: 100vw;
}

.main-content .content-item {
    position: absolute;
    top: 80px;
    left: 0;
    width: 100vw;
    height: 540px;
}
